{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YAMABIKO ログイン</title>
    <link rel="stylesheet" href="{% static 'test/next.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="logwaku">
    <p class="logtagu">やまびこ</p>
    <h1 class="lota">ログイン</h1>
    <form method="post">
        {% csrf_token %}
         {{ form.username.label_tag }}
         <div class="lognyu">{{ form.username }}</div>
         <div class="logera">{{ form.username.errors }}</div>
         <div class="logpass">{{ form.password.label_tag }}
         {{ form.password }}</div>
        <button type="submit" class="logbtn">ログイン</button>
    </form>
    </div>
    <a href="/signup/" class="logsin">新規登録はこちら</a>
</body>
</html>