body{background-color: whitesmoke;
    color:#2A2A2A;}
    .circle {
        position: absolute;   

    left: 550px;   
    top: 100px; 
    
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
    border-radius: 50%;
    border: 2px solid #333;

    min-width: 60px;
    min-height: 60px;

    text-align: center;
    outline: none;          
    }
    .kensaku{border: 1.2px solid #888888; /*枠の線とその色*/
        background-color: #444444;  /*枠の中の色*/
        color: whitesmoke;
        font-size: 16px; /*文字のサイズ*/
    padding: 6px; /*枠の線と文字の間隔*/
    width: 700px;/*横幅*/
    height: 27px;/*縦幅*/
    position: fixed;
    z-index: 20;
    top: 60px;
    left: 370px;
    border-radius: 20px;/*バーの角の丸さ*/}
    .sikaku{
        background-color: whitesmoke;
        border:1.2px solid #666666;
        z-index: 10;
        position: fixed;
        top: -20px;
        left: 0px;
        height: 100px;
       width: 1500px;}
    .msg{z-index: 1;
        font-size: 20px;
    width: 1000px;
    position: absolute;
    margin-top: 200px;
    margin-left: 200px;
    scrollbar-width: thin;
        scrollbar-color: #666 #222;}
    .msg::-webkit-scrollbar {
        width: 12px;
    }

    .msg::-webkit-scrollbar-track {
        background: #222222;
        border-radius: 10px;
    }

    .msg::-webkit-scrollbar-thumb {
        background: #666666;
        border-radius: 10px;
    }
    
    .msg::-webkit-scrollbar-thumb:hover {
        background: #999999;
    }
    .line1{position: fixed;
        top: 140px;
    left: 200px;
    background-color: whitesmoke;
    height: 2px;
    width: 1150px;
    z-index: 11;}
    .line2{position: fixed;
    }
    #myChart{position: relative;
    left: 200px;}
    .circle.selected {
  border: 3px solid #007bff;
  box-shadow: 0 0 10px rgba(0,123,255,0.6);
}
#loading{
    transition: all 1s;
    background-color: whitesmoke;
    position: fixed;
    z-index:9999;
    inset: 0;
    display: grid;
    place-items: center;

}
.spinner{
    width: 200px;
    height: 200px;
    border: 6px solid #ccc;
  border-top: 6px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;

}
.loaded{
    opacity:0;
    visibility: hidden;

}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
