<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
     <title>ternal Mindmap</title>
    {% load static %}
     <link rel="stylesheet" href="{% static 'test/next.css' %}">
</head>
<body>
    <p class="msg">{{ msg|linebreaksbr }}</p>
    <div id="toolbar">
        <ul>
  {% for item in items %}
    <li class="moji">{{ item.text }}</li>
  {% endfor %}
</ul>
  <form method="POST"  action="/save/">
    {% csrf_token %}

    <input type="text" name="text">
    <button class="hozon">保存</button>
  </form>

<script>
</script>
</body>
</html>