
    body{background-color: whitesmoke;
        color:#2A2A2A;
        width: 1000px;
        height: 600px;
    }
    #toolbar {
        position: fixed;
        top: -2px;
        left: 0;
        width: 800px;
        height: 80px;
        
        color: whitesmoke;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
       
        border: 1px solid #2A2A2A;
  
        z-index: 7;
    }
    .moji{
        color: #222;  /*投稿の文字*/
        top: 200px;
    }
    textarea{
        position: fixed;
        width: 400px; 
        font-size: 16px;
        overflow-y: auto;
        max-height: 90px;
        resize: none;
    }
    .hozon{
        position: fixed;
        left: 750px;
    }
   