
    body{background-color: whitesmoke;
        color:#2A2A2A;
        width: 1000px;
        height: 600px;
    }
    #toolbar {
        position: fixed;
        top: 500px;
        left: 0;
        width: 100%;
        height: 90px;
        background-color: #555555;
        color: whitesmoke;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
       
        border: 1px solid #2A2A2A;
  
        z-index: 7;
    }
    .moji{
        color: #222;  /*投稿の文字*/
        top: 130px;
        font-size: 20px;
        display: flex;
        align-items: center;
    }
    textarea{
        position: fixed;
        top: 450px;
        left: 250px;
        width: 800px; 
        padding: 3px;
        font-size: 16px;
        overflow-y: auto;
        max-height: 72px;
        resize: none;
    }
    .hozon{
        position: fixed;
        width: 50px;
        height: 50px;
        font-size: 30px;
        left: 1070px;
        top: 450px;
    }
    ul {
    top: 100px;  /* 好きな値に */
    list-style: none;
    }
   .mark{
    position: relative;
    padding: 5px;
    font-size: 15px;
    top: -2px;
   }
   .waku{
    background-color: whitesmoke;
    border: 0px solid#2A2A2A;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 12px 16px;
    margin-bottom: 8px;
   }
   .tagu{
    position: relative;
    top: -50px;
    left: 500px;
    font-size: 130px;
   }
   #iconPreview {
    
    width: 1270px;
    height: 200px;
    left: -11px;
    top: 0px;
    object-fit: cover;
    cursor: pointer;     
    z-index: 3;
   }
  